*/node_modules/
*/package-lock.json
*/npm-shrinkwrap.json
*.log
*.gz
*/.next/
*/dist/
*/public/
*/coverage/
*/.nyc_output/
*/benchmarks/graphs/
*/.eslintcache/
*/.stylelintcache/
*/.tsbuildinfo
*/.node_repl_history
*/.env
*/.env.development.local
*/.env.test.local
*/.env.production.local
*/.env.local
*/.yarn-integrity
*/.pnp.*